<%- include('partials/header') %>
    <!-- content -->
    <main class="py-5">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-title">
                <strong>Add New Contact</strong>
              </div> 

              <% if(errors?.server) {%>
                <div class="alert alert-danger"><%= errors.server.message %></div>
              <% } %>

              <form action="/update-contact/<%= id %>" method="post">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">

                        <div class="form-group row">
                          <label for="firstname" class="col-md-3 col-form-label">First Name</label>
                          <div class="col-md-9">
                            <input type="text" name="firstname" id="firstname" 
                            value="<%= formData?.firstname || getUserInfo?.firstname || '' %>" class="form-control">

                            <% if(errors?.firstname) { %>
                              <span class="text-danger"><%= errors.firstname.msg %></span>
                            <% } %> 
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="lastname" class="col-md-3 col-form-label">Last Name</label>
                          <div class="col-md-9">
                            <input type="text" name="lastname" id="lastname"
                            value="<%= formData?.lastname || getUserInfo?.lastname || '' %>" class="form-control">

                            <% if(errors?.lastname) { %>
                              <span class="text-danger"><%= errors.lastname.msg %></span>
                            <% } %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="email" class="col-md-3 col-form-label">Email</label>
                          <div class="col-md-9">
                            <input type="text" name="email" id="email"
                            value="<%= formData?.email || getUserInfo?.email || '' %>" class="form-control">

                            <% if(errors?.email) { %>
                              <span class="text-danger"><%= errors.email.msg %></span>
                            <% } %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="phone" class="col-md-3 col-form-label">Phone</label>
                          <div class="col-md-9">
                            <input type="text" name="phone" id="phone"
                            value="<%= formData?.phone || getUserInfo?.phone || '' %>" class="form-control">

                            <% if(errors?.phone) { %>
                              <span class="text-danger"><%= errors.phone.msg %></span>
                            <% } %>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="address" class="col-md-3 col-form-label">Address</label>
                          <div class="col-md-9">
                            <textarea name="address" id="address" rows="3" class="form-control"><%= formData?.address || getUserInfo?.address || '' %></textarea>

                            <% if(errors?.address) { %>
                              <span class="text-danger"><%= errors.address.msg %></span>
                            <% } %>
                          </div>
                        </div>
                        <hr>
                        <div class="form-group row mb-0">
                          <div class="col-md-9 offset-md-3">
                              <button type="submit" class="btn btn-primary">Save</button>
                              <a href="/" class="btn btn-outline-secondary">Cancel</a>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
<%- include('partials/footer') %>